<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div id="hleft"><a href="/">Home</a></div>
      <div id="hcenter">TextLearn</div>
      <div id="hright"><a href="#">Market Place</a></div>
    </header>

    <div id="review-box">
      <p>About Us</p>
      <div id="review-box-form">
        <p>Excellent to improve your knowledge</p>
        <div id="review">
          At TextLearn, we excel in offering diverse, high-quality e-learning on
          a myriad of subjects. Our user-friendly platform ensures seamless
          navigation, allowing learners to focus solely on their educational
          journey. Join us now to unlock your full potential with ease and
          confidence.
        </div>
      </div>
    </div>

    <footer>
      <div id="fleft">&copy; 2024 TextLearn</div>
      <div id="fright">
        <div id="about">About Us</div>
        <div id="join">Join The TL team</div>
      </div>
    </footer>
  </body>
</html>
