<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  </head>
  <body>
    <header>
      <div class="nav-link"><a href="/">Home</a></div>
      <div id="logo">TextLearn</div>
      <div class="nav-link">
        <% if (msgToUser == true) { %>
          <a href="/settings">User</a>
        <% } else {%>
            <a href="/signup">Sign Up</a>
        <% } %>
        <a href="#">Market Place</a>
      </div>
    </header>

    <div class="login-subscribe">
      <p>Login</p>
      <div class="login-subscribe-form">
        <form action="/login" method="POST" id="form">
          <div class="forms">
            <label for="email" class="labels">Email</label>
            <input type="text" name="email" class="inputs" />
          </div>
          <div class="forms">
            <label for="password" class="labels">Password</label>
            <input type="password" name="password" class="inputs" />
          </div>
          <input type="submit" value="login" id="btn-upload" />
        </form>
      </div>
      <% if (msgToUser) { %>
        <p><%= msgToUser %></p>
      <% } %>
    </div>

    <footer>
      <div id="fleft">&copy; 2024 TextLearn</div>
      <div id="fright">
        <div id="about">About Us</div>
        <div id="join">Join The TL team</div>
      </div>
    </footer>
  </body>
</html>
