<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
    <script src="/reader.js"></script>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <script src="/front_side.js"></script>
    <title>TextLearn - Reader</title>
  </head>
  <body>
    <header>
      <div id="logo">TextLearn</div>
      <div id="nav-link">
        <a href="/">Home</a>
        <a href="/marketplace">MarketPlace</a>
        <a href="/" id="1-entry"></a>
      </div>
      <div id="hamburger" onclick="openNav()">&#9776;</div>
      <div id="x_button" onclick="openNav()">&times;</div>

      <div id="nav-link-mini">
        <a href="/">Home</a>
        <a href="/marketplace">MarketPlace</a>
        <a href="/" id="1-entry-mini"></a>
      </div>
    </header>

    <div id="course-name">Course Name</div>

    <p id="msgToUser"></p>
    <div id="box-reader">
      <div id="reader"></div>
      <div id="box-description">
        <h1>Description</h1>
        <p id="description"></p>
        <h1>Author Bio</h1>
        <div id="author">
          <div style="width: 8%; height: 8%; aspect-ratio: 1 / 1">
            <img
              src="/images/USER.jpeg"
              id="creator-image"
              alt="Creator Image"
            />
          </div>
          <div id="creator">daniel</div>
        </div>
        <div id="creator-bio"></div>
      </div>
    </div>

    <footer>
      <div id="fleft">&copy; 2024 TextLearn</div>
      <div id="fright">
        <div id="about"><a href="/about">About US</a></div>
        <div id="join">Join The TL team</div>
      </div>
    </footer>
  </body>
</html>
