<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div id="hleft"><a href="/">Home</a></div>
      <div id="hcenter">TextLearn</div>
      <div id="hright"><a href="#">Market Place</a></div>
    </header>

    <div class="container">
      <aside>
        <div id="user">
          <img src="/images/user.png" id="usr-image" alt="User Image" />
          <div id="username">Username</div>
          <h1>BIO</h1>
          <div id="bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            hendrerit erat vitae iaculis facilisis. Ut dignissim odio a nunc
            ornare fringilla. Fusce pretium tincidunt accumsan. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Duis hendrerit erat
            vitae iaculis facilisis. Ut dignissim odio a nunc ornare fringilla.
            Fusce pretium tincidunt accumsan. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Duis hendrerit erat vitae iaculis
            facilisis. Ut dignissim odio a nunc ornare fringilla. Fusce pretium
            tincidunt accumsan. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis hendrerit erat vitae iaculis facilisis. Ut
            dignissim odio a nunc ornare fringilla. Fusce pretium tincidunt
            accumsan. ❤️
          </div>
          <div id="courses">
            <h3>Your Courses</h3>
            <hr />
          </div>
        </div>
      </aside>

      <section>
        <div id="upload">
          <div class="switcher">
            <a href="/settings">Settings</a>
            <div
              style="
                font-family: 'Arbutus Slab', sans-serif;
                font-size: 30px;
                padding: 5%;
              "
            >
              |
            </div>
            <a href="/upload">Upload a new course</a>
          </div>
          <form
            action="#"
            method="post"
            enctype="multipart/form-data"
            id="form"
          >
            <label for="username" class="labels2">Username</label>
            <div class="forms2">
              <input
                type="text"
                name="change username"
                id="user-change"
                class="inputs"
              />
              <button type="submit" class="btn-upload2">
                Change<br />Username
              </button>
            </div>
            <label for="bio" class="labels2">Bio</label>
            <div class="forms2">
              <textarea
                name="change bio"
                id="bio-input"
                class="inputs"
              ></textarea>
              <button type="submit" class="btn-upload2" id="changeBio">
                Change<br />Bio
              </button>
            </div>
          </form>
        </div>
      </section>
    </div>

    <footer>
      <div id="fleft">&copy; 2024 TextLearn</div>
      <div id="fright">
        <div id="about">About Us</div>
        <div id="join">Join The TL team</div>
      </div>
    </footer>
  </body>
</html>
