<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
    <script src="/settings-courses.js"></script>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <script src="/front_side.js"></script>
    <title>TextLearn - Upload</title>
  </head>
  <body>
    <header>
      <div id="logo">TextLearn</div>
      <div id="nav-link">
        <a href="/">Home</a>
        <a href="/marketplace">MarketPlace</a>
        <a href="/" id="1-entry"></a>
      </div>
      <div id="hamburger" onclick="openNav()">&#9776;</div>
      <div id="x_button" onclick="openNav()">&times;</div>

      <div id="nav-link-mini">
        <a href="/">Home</a>
        <a href="/marketplace">MarketPlace</a>
        <a href="/" id="1-entry-mini"></a>
      </div>
    </header>

    <div class="container">
      <aside>
        <div id="user">
          <img src="" id="usr-image" alt="User Image" />
          <form
            id="upload-pro-pic"
            action="/upload"
            method="POST"
            enctype="multipart/form-data"
            style="display: none"
          >
            <input
              type="file"
              id="pro-pic-input"
              name="prof_pic"
              accept="image/*"
            />
          </form>
          <div id="username">Username</div>
          <h1>BIO</h1>
          <div id="bio">Change me!</div>
          <div id="courses">
            <h3>Your Courses</h3>
          </div>
          <div id="sub-courses">
            <h3>Subscribed Courses</h3>
          </div>
        </div>
      </aside>

      <section>
        <div id="upload">
          <div class="switcher">
            <button
              class="btn-upload2"
              value="settings"
              onclick="window.location.href='/settings'"
            >
              Settings
            </button>
            <button
              class="btn-upload2"
              value="upload a new course"
              onclick="window.location.href='/upload'"
            >
              Upload a new course
            </button>
          </div>
          <form
            action="/upload"
            method="post"
            enctype="multipart/form-data"
            id="form"
          >
            <div class="forms">
              <label for="course_name" class="labels">Name</label>
              <input
                type="text"
                name="course_name"
                id="course"
                class="inputs"
              />
            </div>
            <div class="forms">
              <label for="course_image" class="labels">Image</label>
              <input type="file" name="course_image" class="inputs" />
            </div>
            <div class="forms">
              <label for="course_file" class="labels" id="file">File</label>
              <input type="file" name="course_file" class="inputs" />
            </div>
            <div class="forms">
              <label for="course_descr" class="labels">Description</label>
              <textarea name="course_descr" class="inputs"></textarea>
            </div>
            <input type="submit" value="Upload your Course" id="btn-signup" />
          </form>
          <p id="msgToUser"></p>
        </div>
      </section>
    </div>

    <footer>
      <div id="fleft">&copy; 2024 TextLearn</div>
      <div id="fright">
        <div id="about"><a href="/about">About US</a></div>
        <div id="join">Join The TL team</div>
      </div>
    </footer>
  </body>
</html>
