<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
    <script src="/settings-courses.js"></script>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <script src="/front_side.js"></script>
    <title>TextLearn - Upload</title>
  </head>
  <body>
    <header>
      <div id="logo">TextLearn</div>
      <div id="nav-link">
        <a href="/">Home</a>
        <a href="/" id="1-entry"></a>
        <a href="/marketplace">MarketPlace</a>
      </div>
      <div id="hamburger" onclick="openNav()">&#9776;</div>
      <div id="x_button" onclick="openNav()">&times;</div>

      <div id="nav-link-mini">
        <a href="/">Home</a>
        <a href="/" id="1-entry"></a>
        <a href="/marketplace">MarketPlace</a>
      </div>
    </header>

    <div class="container">
      <aside>
        <div id="user">
          <img src="/images/user.png" id="usr-image" alt="User Image" />
          <div id="username">Username</div>
          <h1>BIO</h1>
          <div id="bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            hendrerit erat vitae iaculis facilisis. Ut dignissim odio a nunc
            ornare fringilla. Fusce pretium tincidunt accumsan. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Duis hendrerit erat
            vitae iaculis facilisis. Ut dignissim odio a nunc ornare fringilla.
            Fusce pretium tincidunt accumsan. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Duis hendrerit erat vitae iaculis
            facilisis. Ut dignissim odio a nunc ornare fringilla. Fusce pretium
            tincidunt accumsan. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis hendrerit erat vitae iaculis facilisis. Ut
            dignissim odio a nunc ornare fringilla. Fusce pretium tincidunt
            accumsan. ❤️ Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Duis hendrerit erat vitae iaculis facilisis. Ut dignissim odio
            a nunc ornare fringilla. Fusce pretium tincidunt accumsan. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit
            erat vitae iaculis facilisis. Ut dignissim odio a nunc ornare
            fringilla. Fusce pretium tincidunt accumsan. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Duis hendrerit erat vitae iaculis
            facilisis. Ut dignissim odio a nunc ornare fringilla. Fusce pretium
            tincidunt accumsan. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis hendrerit erat vitae iaculis facilisis. Ut
            dignissim odio a nunc ornare fringilla. Fusce pretium tincidunt
            accumsan. ❤️
          </div>
          <div id="courses">
            <h3>Your Courses</h3>
            <hr />
            <div class="course" id="1">
              <div class="course-title">Social Media Management</div>
              <button class="courses-buttons" onclick="deleteCourse('1')">
                Delete
              </button>
            </div>
            <div class="course" id="2">
              <div class="course-title">Cooking</div>
              <button class="courses-buttons" onclick="deleteCourse('2')">
                Delete
              </button>
            </div>
          </div>
          <div id="courses">
            <h3>Subscribed Courses</h3>
            <hr />
            <div class="course" id="3">
              <div class="course-title">Social Media Management</div>
              <button class="courses-buttons" onclick="deleteCourse('3')">
                Quit
              </button>
            </div>
          </div>
        </div>
      </aside>

      <section>
        <div id="upload">
          <div class="switcher">
            <input
              class="btn-upload2"
              type="button"
              value="settings"
              onclick="window.location.href='/settings'"
            />
            <input
              class="btn-upload2"
              type="button"
              value="upload a new course"
              onclick="window.location.href='/upload'"
            />
          </div>
          <form
            action="/upload"
            method="post"
            enctype="multipart/form-data"
            id="form"
          >
            <div class="forms">
              <label for="course" class="labels">Name</label>
              <input
                type="text"
                name="Course name"
                id="course"
                class="inputs"
              />
            </div>
            <div class="forms">
              <label for="image" class="labels">Image</label>
              <input type="file" name="file-picker" class="inputs" />
            </div>
            <div class="forms">
              <label for="file" class="labels" id="file">File</label>
              <input type="file" name="Course name" class="inputs" />
            </div>

            <input type="submit" value="Upload your Course" id="btn-signup" />
          </form>
          <p id="msgToUser"></p>
        </div>
      </section>
    </div>

    <footer>
      <div id="fleft">&copy; 2024 TextLearn</div>
      <div id="fright">
        <div id="about"><a href="/about">About US</a></div>
        <div id="join">Join The TL team</div>
      </div>
    </footer>
  </body>
</html>
