/*-------------------- COMMON CONFIGURATIONS -------------------*/

@import url('https://fonts.cdnfonts.com/css/arbutus-slab');
@import url('https://fonts.cdnfonts.com/css/barlow');

html {
    font-size: 1.2rem;
}

/* Fare in modo che il body copra tutta la pagina */
html,
body {
    height: 100vh;
    margin: 0;
    display: flex;
    /* Utilizza flexbox per il layout */
    flex-direction: column;
    /* Imposta la direzione del flex su colonna */
    background-color: #FFC61A;
}

body {
    flex: 1;
    /* Permette al body di espandersi per coprire tutto lo spazio disponibile */
    width: 100%;
    min-width: 320px;
    /* Dimensione minima del viewport */
    min-height: 600px;
    /* Altezza minima del viewport */
}

* {
    box-sizing: border-box;
    /*assicura che i margini e i padding degli elrementi non causino sovrapposizione*/
}

/* Header configurazioni */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-color: #FFC61A;
    font-family: 'Arbutus Slab', sans-serif;
}

#logo {
    font-size: 2rem;
    font-family: 'barlow', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5%;
}

#hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'barlow', sans-serif;
    z-index: 9999;
    background-color: #FFC61A;
    /*per evitare che la navlink durante l'animazioe si vede sotto*/

    margin-right: 2%;
}

#x_button {
    display: none;
    cursor: pointer;
    font-size: 1.7rem;
    font-family: 'barlow', sans-serif;
    z-index: 9999;
    background-color: #FFC61A;
    /*per evitare che la navlink durante l'animazioe si vede sotto*/

    margin-right: 2%;
}

#nav-link {
    display: flex;
    gap: 6%;
    /* Espandi gli elrementi tra loro di 5vh */
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
}

#nav-link-mini {
    gap: 6%;
    text-align: center;
    justify-content: center;
    background-color: #FFC61A;
    width: auto;
    font-family: 'arbutus slab', sans-serif;
    position: absolute;
    /* Fissa il menu alla finestra del browser */
    right: 0;
    /* Distanza dal lato destro della finestra */
    top: 5%;
    /* Distanza dal lato superiore della finestra */
    z-index: 9999;
    padding: 2%;
    display: none;
    /* Nasconde il menu per default */

    flex-direction: column;
    margin-top: 2%;
}



@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(20%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(20%);
    }
}


/* Footer configurazioni */
footer {
    display: flex;
    /* Utilizza flexbox per il layout */
    justify-content: space-between;
    /* Distribuisce gli elrementi orizzontalmente */
    padding: 0.5vh;
    background-color: #FFF4EA;
    margin-top: auto;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    z-index: 9999;
}

#fleft {
    padding-left: 1vh;
}

#fright {
    display: flex;
    gap: 2vh
}

#join {
    padding-right: 2vh;
    padding-left: 2vh;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Arbutus Slab', sans-serif;
    cursor: pointer;
}

a:hover {
    color: #8f7f7c;
    transition: 0.3s;
}


/*-------------------- INDEX.HTML -------------------*/

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
}

#image-container {
    width: 100vw;
    /* Larghezza al 100% */
    height: 100vh;
    /* Altezza al 100% */
}

#image-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Adatta l'immagine */
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* Dispone gli elrementi in colonna */
    align-items: center;
    /* Allinea gli elrementi al centro */
}

#p {
    padding-bottom: 0;
}

#start {
    width: 100%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 4rem;
    /* Dimensione del testo adattabile */
    text-align: center;
    color: white;
}

#button-container {
    padding: 0;
    margin-bottom: 10%;
}

#button {
    padding: 3%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.5rem;
    /* Dimensione del testo adattabile */
    background-color: #FFC61A;
    border: none;
    cursor: pointer;
    /* Cambia il cursore al passaggio del mouse */
}

#button:hover {
    background-color: #dbc47f;
}


/*-------------------- UPLOAD.HTML - SETTINGS.HTML + COMMON CONFIGURATIONS -------------------*/

/* UPLOAD.HTML */

/* Section configurazioni */
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 0;

    background-image: url("images/Sfondo2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #C6A064;
}

/* Upload configurazioni */
#upload {
    background-color: #C6A064;
    padding: 2%;
    width: 80%;
    max-width: 100%;
    /* Modifica la larghezza massima per adattarsi a schermi più piccoli */
    max-height: 100vh;
    height: 80%;
    overflow-y: auto;
    /* Aggiunge la barra di scorrimento verticale */
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*center form in the middle*/
    height: auto;
    /* Annulla l'altezza fissa per adattarsi dinamicamente al contenuto */
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 100%;
}

/*NB: labels, input e button sono configurazioni usate anche per il login e signup*/

.labels {
    font-family: 'Arbutus Slab', sans-serif;
    color: #FFF4EA;
    font-size: 1.2rem;
    padding: 0;
    align-self: center;
}

#file {
    /*necessario?*/
    margin-right: 3%
}

.inputs {
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    padding: 2%;
    background-color: #EDDBCC;
    width: 80%;
    text-align: center;
}

#btn-signup {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 2.5%;
    background-color: #372A28;
    color: #EDDBCC;
    border: none;
    margin-top: 2%;
    cursor: pointer;
}

#btn-signup:hover {
    background-color: #8f7f7c;
    color: #372A28;
}


#btn-upload:hover {
    background-color: #8f7f7c;
    color: #372A28;
}

/*SETTINGS.HTML*/

.forms2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 0;
    padding-bottom: 2%;
}

.labels2 {
    font-family: 'Arbutus Slab', sans-serif;
    color: #FFF4EA;
    font-size: 1.2rem;
    padding: 0;
    padding-bottom: 1%;
    align-self: flex-start;
    padding-left: 5%;
}

#user-change {
    width: 75%;
}

#bio-input {
    height: 70%;
    width: 69%;
    resize: none;
    border: none;
}

.btn-upload2 {
    margin: 2%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 2.5%;
    background-color: #372A28;
    color: #EDDBCC;
    border: none;
    cursor: pointer;
}

.btn-upload2:hover {
    background-color: #8f7f7c;
    color: #372A28;
}

#changeBio {
    margin-left: 5.9%;
    padding: 2.5vh 4.1vh;
}

/*COMMON CONFIGURATIONS*/

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}


aside {
    width: 40%;
    padding: 2%;
    background-color: #EDDBCC;
    overflow-y: auto;
    /* Aggiunge la barra di scorrimento verticale */
}


#user {
    display: flex;
    flex-direction: column;
}

#usr-image {
    display: block;
    width: 30%;
    margin: 0;
    /* Centra orizzontalmente */
    align-self: center;
}


#usr-image:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}


#username {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.8rem;
    padding: 2%;
    text-align: center;
}


#user h1 {
    font-family: 'Arbutus Slab', cursive;
    font-size: 1.5rem;
    padding: 2.2%;
    margin-bottom: 0;
}

aside #bio {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 2%;
    padding-bottom: 3%;
    text-align: left;
}

#courses,
#sub-courses {
    padding: 2%;
    width: 80%;
    border: 2px solid black;
    background-color: #FFF4EA;
    align-self: center;
    margin-bottom: 3%;
    box-sizing: border-box;
}


#courses h3,
#sub-courses h3 {
    width: 100%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.course {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid black;
}

.slideLeft {
    animation: slideLeft 0.5s forwards;
    
}

aside .course-title {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    margin-top: 1.2%;
    width: 70%;
    text-align: left;
    word-wrap: break-word;
}

aside .courses-buttons {
    background-color: #372A28;
    color: #EDDBCC;
    border: none;
    cursor: pointer;
    padding: 2%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    height: 30%;
    /* Per evitare che il pulsante abbia un'altezza troppo alta con curse titles lunghi*/

    /*
    white-space: nowrap;  Il testo non viene avvolto, ma viene troncato se è troppo lungo 
    overflow: hidden;
    text-overflow: ellipsis;  Mostra "..." se il testo viene troncato 
    */
}

.courses-buttons:hover {
    background-color: #8f7f7c;
    color: #372A28;
}

.switcher {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    margin-bottom: 12%;
    justify-content: center;
}

.switcher .btn-upload2 {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 2.5%;
    background-color: #372A28;
    color: #EDDBCC;
    border: none;
    cursor: pointer;
}

.switcher .btn-upload2:hover {
    background-color: #8f7f7c;
    color: #372A28;
}


/*-------------------- LOGIN.HTML / SIGNUP.HTML -------------------*/

.login-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.login-subscribe p {
    font-family: 'Arbutus Slab', sans-serif;
    color: #EDDBCC;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    align-self: flex-start;
    margin-left: 15%;
}


.login-subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* centa tutto il testo, anche i bottoni */
    width: 70%;
    height: auto;
    padding: 1.8%;
    background-color: #C6A064;
    border: 2px solid black;
}

.login-subscribe-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-subscribe-form form #btn-signup {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 2%;
    background-color: #372A28;
    color: #EDDBCC;
    border: none;
    cursor: pointer;
}

.labels-login {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 0;
    color: #FFF4EA;
}


/*-------------------- ABOUT.HTML -------------------*/

#review-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin-bottom: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
}


#review-box p {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    align-self: flex-start;
    /* alinea a sinistra */
    padding-left: 10%;
}

#review-box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    /*aggiusta l'altezza in base al contenuto*/
    padding: 1.5%;
    background-color: #C6A064;
    border: 2px solid black;
}


#review-box-form p {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    align-self: center;
    text-align: center;
    padding-bottom: 2%;
}

#stars img {
    width: 20%;
    height: auto;
    display: block;
    padding-bottom: 2%;
    position: relative;
    left: 40%;
}

/* Styling for the review text */
#review {
    width: 70%;
    font-family: 'Arbutus Slab', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 3%;
}

#reviewer {
    width: 70%;
    font-family: 'Arbutus Slab', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
}


/*-------------------- MARKETPLACE.HTML -------------------*/

#marketplace-title {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 2rem;
    padding: 0;
    align-self: center;
    margin: 1%;
}

#finder {
    width: 70%;
    padding: 0.5%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    background-color: #372A28;
    color: #EDDBCC;
    align-self: center;
    ;
}

#container-marketplace {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#cardbox {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Per consentire alle carte di andare a capo */
    align-self: center;
    justify-content: center;
    overflow-y: auto;

    background-color: #C6A064;
}

.cards {
    width: auto;
    margin: 1%;
    padding: 2%;
    align-self: center;
    background-color: #EDDBCC;
}

.cards:hover {
    transform: translateZ(0.5vw) scale(1.05);
    transition: 0.2s ease-in;
    /*l'animazione diventa srempre piu veloce*/
    /*ritardo nell'animazione*/
}

.cards img {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

.card-title {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cards .subscribe-btn {
    width: 50%;
    font-family: 'Arbutus Slab', sans-serif;
    color: #EDDBCC;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    /*aggiunge i puntini*/
    overflow: hidden;
    /*evita che il testo del bottone vada fuori*/
    background-color: #372A28;
    border: none;
    padding: 3%;
    margin: 2%;

    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: #8f7f7c;
    color: #372A28;
}

#popup {
    position: fixed;
    /* Posizione fissa rispetto alla finestra del browser */
    top: 62%;
    /* Posiziona al centro verticale della finestra */
    left: 50%;
    /* Posiziona al centro orizzontale della finestra */
    transform: translate(-50%, -50%);
    /* Centra orizzontalmente e verticalmente */
    background-color: #EDDBCC;
    /* Colore di sfondo */
    padding: 20px;
    /* Spazio interno */
    z-index: 9999;
    /* Livello dello z-index per essere sopra altri contenuti */
    display: none;
    /* Inizialmente nascosto */

    font-family: 'arbutus slab', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    height: 50%;
    overflow-y: auto;
}

@keyframes slideUp {
    from {
        transform: translate(-50%, 100%);
    }

    to {
        transform: translate(-50%, -50%);
    }
}

@keyframes slideDown {
    from {
        transform: translate(-50%, -50%);
    }

    to {
        transform: translate(-50%, 100%);
    }
}

.open {
    display: block;
    animation: slideUp 0.5s ease-out forwards;
}

.close {
    animation: slideDown 0.5s ease-out forwards;
}

/*Senza forward il popup dalla posizione iniziale 
ritornera in posizione iniziale e viceversa. Con forward
il popup dalla posizione finale passa all'ultimo stato 
della transizione e ci rimane e viceversa per garantire
una transizione piu fluida*/

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}


@media screen and (max-width: 400px) {
    .button-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*-------------------- READER.HTML -------------------*/

#box-reader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reader-header {
    display: flex;
    justify-content: space-between;
    align-self: center; /*allinea il reader-header*/
    align-items: center; /*allinea gli elrementi al centro*/
    width: 50%;
    height: 20%;
    background-color:#FFC61A;
    gap: 5%;
}

#reader {
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 2%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
}

#reader-header {
    display: flex;
    justify-content: space-between;
    align-self: center; /*allinea il reader-header*/
    align-items: center; /*allinea gli elrementi al centro*/
    width: 50%;
    height: 20%;
    background-color:#FFC61A;
    gap: 5%;
}

#creator {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    margin-left: 5%;
}

#creator-image {
    width: 10%;
}

/*-------------------- RESPONSIVE CONFIGURATIONS -------------------*/


@media screen and (min-width: 1367px) and (max-width: 1920px) {
    
    html {
        font-size: 1.2rem;
    }

    #logo {
        font-size: 3rem;
    }

    .login-subscribe p {
        font-size: 2.5rem;
    }

    #review-box p {
        font-size: 2.5rem;
    }
}
 
 @media screen and (min-width: 769px) and (max-width: 1366px) {
 
    html {
        font-size: 1.2rem;
    }
 
    #logo {
        font-size: 2.3rem;
    }

    #nav-link-mini {
        font-size: 1.2rem;
    }

    #hamburger {
        font-size: 2.5rem;
    }

    #x_button {
        font-size: 2.7rem;
    }

    .login-subscribe p {
        font-size: 2rem;
    }

    #review-box p {
        font-size: 2rem;
    }

    .cards {
        width: 30%;
    }

    .button-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    }

    .cards .subscribe-btn {
    width: 100%;
    }

    .course-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }

 }
 
 @media screen and (min-width: 376px) and (max-width: 768px) {
 
    html {
        font-size: 1.2rem;
    }

    #logo {
        font-size: 2rem;
    }

    #nav-link-mini {
        font-size: 1rem;
    }

    #hamburger {
        font-size: 2rem;
    }

    #x_button {
        font-size: 2rem;
    }

    #start {
        font-size: 3rem;
    }

    #usr-image {
        width: 30%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: 40%;
    }

    #username {
        font-size: 2rem;
    }

    #user h1 {
        font-size: 2rem;
    }

    section {
        width: 100%;
        height: 60%;
        border-top: 10px solid black;
    }

    .switcher {
        flex-direction: column;
    }

    .login-subscribe p {
        font-size: 1.5rem;
    }

    #review-box p {
        font-size: 1.5rem;
    }

    #review-box-form p {
        font-size: 1.2rem;
    }

    #review, #reviewer {
        font-size: 0.8rem;
    }

    #creator-image {
        width: 20%;
    }

    .cards {
        width: 30%;
    }

    .card-title {
        font-size: 1rem;
    }

    .button-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cards .subscribe-btn {
        width: 100%;
        font-size: 1rem;
    }

 }
 
 @media screen and (max-width: 375px) {
 
    html {
        font-size: 1rem;
    }

    #nav-link-mini {
        display: relative;
    }

    .login-subscribe {
        width: 120%;
    }

    .login-subscribe p {
        font-size: 1.2rem;
    }

    #review-box {
        width: 100%;
    }

    #review-box p {
        font-size: 1.2rem;
    }

    #review, #reviewer {
        font-size: 1rem;
    }
    
    #stars {
        width: 200%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: 40%;
    }

    
    section {
        width: 100%;
        height: 60%;
        border-top: 10px solid black;
    }

    .switcher {
        flex-direction: column;
    }

    #upload {
        width: 100%;
        height: 100%;

    }

    #marketplace-title {
        font-size: 1.2rem;
        width: 100%;
        word-wrap: break-word; /* Spezza le parole lunghe */
        text-overflow: ellipsis; /* Aggiunge "..." se il testo è troppo lungo */
        white-space: normal; /* Permette al testo di andare a capo */
    }

    .cards {
        width: 45%;
    }

    .card-title {
        font-size: 1rem;
    }

    .button-container {
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }

    .cards .subscribe-btn {
        width: 100%;
        font-size: 1rem;
    }
 }
 
 @media screen and (max-width: 1081px) {
 
     header {
         flex-direction: row;
         justify-content: space-between;
     }
 
 }
 
 /*senza questo media screen l'icona hambuger non si mostrava per schermi superiori a 768px di larghezza*/
 @media screen and (max-width: 1080px) {
 
     #hamburger {
         display: block;
     }
 
 }
 
 /*senza questo media screen ad uno width di 516px la parte destradel footer non èra posizionta perfettamente a destra*/
 @media screen and (max-width: 516px) {
     #fright {
         text-align: right;
     }
 }

 @media screen and (min-width: 2000px) {
    html {
        font-size: 2em;
    }
 }