/*---------------------------------------- COMMON CONFIGURATIONS ---------------------------------------*/

@import url('https://fonts.cdnfonts.com/css/arbutus-slab');
@import url('https://fonts.cdnfonts.com/css/barlow');

html {
    font-size: 1.2rem;
}

/* Fare in modo che il body copra tutta la pagina */
html,
body {
    height: 100vh;
    margin: 0;
    display: flex;
    /* Utilizza flexbox per il layout */
    flex-direction: column;
    /* Imposta la direzione del flex su colonna */
    background-color: #FFC61A;
}

body {
    flex: 1;
    /* Permette al body di espandersi per coprire tutto lo spazio disponibile */
    width: 100%;
    min-width: 320px;
    /* Dimensione minima del viewport */
    min-height: 600px;
    /* Altezza minima del viewport */
}

* {
    box-sizing: border-box;
    /*assicura che i margini e i padding degli elrementi non causino sovrapposizione*/
}

/* Header configurazioni */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-color: #FFC61A;
    font-family: 'Arbutus Slab', sans-serif;
}

#logo {
    font-size: 2rem;
    font-family: 'barlow', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5%;
}

#hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'barlow', sans-serif;
    z-index: 9999;
    background-color: #FFC61A;
    /*per evitare che la navlink durante l'animazioe si vede sotto*/

    margin-right: 2%;
}

#x_button {
    display: none;
    cursor: pointer;
    font-size: 1.7rem;
    font-family: 'barlow', sans-serif;
    z-index: 9999;
    background-color: #FFC61A;
    /*per evitare che la navlink durante l'animazioe si vede sotto*/

    margin-right: 2%;
}

#nav-link {
    display: flex;
    gap: 6%;
    /* Espandi gli elrementi tra loro di 5vh */
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
}

#nav-link-mini {
    gap: 6%;
    text-align: center;
    justify-content: center;
    background-color: #FFC61A;
    width: auto;
    font-family: 'Arbutus slab', sans-serif;
    position: absolute;
    /* Fissa il menu alla finestra del browser */
    right: 0;
    /* Distanza dal lato destro della finestra */
    top: 5%;
    /* Distanza dal lato superiore della finestra */
    z-index: 9999;
    padding: 2%;
    display: none;
    /* Nasconde il menu per default */

    flex-direction: column;
    margin-top: 2%;
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(20%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(20%);
    }
}


/* Footer configurazioni */
footer {
    display: flex;
    /* Utilizza flexbox per il layout */
    justify-content: space-between;
    /* Distribuisce gli elrementi orizzontalmente */
    padding: 0.5vh;
    background-color: #FFF4EA;
    margin-top: auto;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    z-index: 9999;
}

#fleft {
    padding-left: 1vh;
}

#fright {
    display: flex;
    gap: 2vh
}

#join {
    padding-right: 2vh;
    padding-left: 2vh;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Arbutus Slab', sans-serif;
    cursor: pointer;
}

a:hover {
    color: #8f7f7c;
    transition: 0.3s;
}

#msgToUser {
    text-align: center;
    font-family: 'Arbutus Slab', sans-serif;
}

#btn-signup {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 2.5%;
    background-color: #372A28;
    color: #EDDBCC;
    border: none;
    margin-top: 2%;
    cursor: pointer;
    width: 40%;
}

#btn-signup:hover {
    background-color: #8f7f7c;
    color: #372A28;
}

.inputs {
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    padding: 2%;
    background-color: #EDDBCC;
    width: 80%;
    text-align: center;
    border: none;
}

/*---------------------------------------- INDEX.HTML ---------------------------------------*/

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
}

#image-container {
    width: 100vw;
    /* Larghezza al 100% */
    height: 100vh;
    /* Altezza al 100% */
}

#image-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Adatta l'immagine */
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* Dispone gli elrementi in colonna */
    align-items: center;
    /* Allinea gli elrementi al centro */
}

#p {
    padding-bottom: 0;
}

#start {
    width: 100%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 4rem;
    /* Dimensione del testo adattabile */
    text-align: center;
    color: white;
}

#button-container {
    padding: 0;
    margin-bottom: 10%;
}

#button {
    padding: 3%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.5rem;
    /* Dimensione del testo adattabile */
    background-color: #FFC61A;
    color: #372A28;
    border: none;
    border-radius: 0;
    cursor: pointer;
    /* Cambia il cursore al passaggio del mouse */
}

#button:hover {
    background-color: #dbc47f;
}

/*---------------------------------------- UPLOAD.HTML - SETTINGS.HTML + COMMON CONFIGURATIONS ---------------------------------------*/

/* UPLOAD.HTML */

/* Section configurazioni */
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 0;

    background-image: url("images/Sfondo2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #C6A064;
}

/* Upload configurazioni */
#upload {
    background-color: #C6A064;
    padding: 2%;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    /* Aggiunge la barra di scorrimento verticale */
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*center form in the middle*/
    height: auto;
    /* Annulla l'altezza fissa per adattarsi dinamicamente al contenuto */
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 100%;
}

/*NB: labels, input e button sono configurazioni usate anche per il login e signup*/

.labels {
    font-family: 'Arbutus Slab', sans-serif;
    color: #FFF4EA;
    font-size: 1.2rem;
    padding: 0;
    align-self: center;
}

#file {
    /*necessario?*/
    margin-right: 3%
}

.course-inputs {
    border: none;
}

/*SETTINGS.HTML*/

.forms2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 0;
    padding-bottom: 2%;
}

.labels2 {
    font-family: 'Arbutus Slab', sans-serif;
    color: #FFF4EA;
    font-size: 1.2rem;
    padding: 0;
    padding-bottom: 1%;
    align-self: center;
}

#user-change {
    width: 90%;
    border: none;
}

#bio-input {
    height: 70%;
    width: 90%;
    resize: none;
    border: none;
}

.btn-upload2 {
    margin: 2%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 2.5%;
    background-color: #372A28;
    color: #EDDBCC;
    border: none;
    cursor: pointer;
    align-self: center;
    width: 40%;
}

.btn-upload2:hover {
    background-color: #8f7f7c;
    color: #372A28;
}

#changeBio {
    margin-left: 5.9%;
    padding: 2.5vh 4.1vh;
}

#manage-account {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

/*COMMON CONFIGURATIONS*/

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}


aside {
    width: 40%;
    padding: 2%;
    background-color: #EDDBCC;
    overflow-y: auto;
    /* Aggiunge la barra di scorrimento verticale */
}


#user {
    display: flex;
    flex-direction: column;
}

#img-container {
    width: 40%;
    height: 40%;
    aspect-ratio: 1 / 1; /*assiucura che il contenitore sia sempre quadrato*/
    overflow: hidden;
    align-self: center;
}

#usr-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*da implementare
<div id="img-card-container" style="width:100%; height: 50%; object-fit: cover; aspect-ratio: 1 / 1">
<img src="uploads/course_image-1717762859162.jpeg" alt="lesson image" id="card-img" style="width: 100%; height:100%; object-fit:cover;">
</div>
*/

#usr-image:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}

#img-popup {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1rem;
    padding: 1%;
    text-align: center;
    background-color: #FFC61A;
    visibility: hidden;
    width: 50%;
    align-self: center;
    margin-top: 2%;
}

#username {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.8rem;
    text-align: center;
}

#user h1 {
    font-family: 'Arbutus Slab', cursive;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    margin-top: 5%;
}

aside #bio {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 0;
    padding-bottom: 3%;
    text-align: left;
    margin-bottom: 5%;
}

#courses,
#sub-courses {
    padding: 2%;
    width: 100%;
    border: 2px solid black;
    background-color: #FFF4EA;
    align-self: center;
    margin-bottom: 3%;
    box-sizing: border-box;
}

#courses h3,
#sub-courses h3 {
    width: 100%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid black;
    align-items: center;
}

#course-btns {
    justify-content: center;
    display: flex;
    width: 100%;
}

.slideLeft {
    animation: slideLeft 0.5s forwards;
    
}

aside .course-title {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    margin-top: 1.2%;
    width: 70%;
    text-align: center;
    word-wrap: break-word;
}

aside .courses-buttons {
    background-color: #372A28;
    color: #EDDBCC;
    border: none;
    cursor: pointer;
    padding: 2%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    height: 30%;
    margin: 2%;
    /* Per evitare che il pulsante abbia un'altezza troppo alta con curse titles lunghi*/

    /*
    white-space: nowrap;  Il testo non viene avvolto, ma viene troncato se è troppo lungo 
    overflow: hidden;
    text-overflow: ellipsis;  Mostra "..." se il testo viene troncato 
    */
}

.courses-buttons:hover {
    background-color: #8f7f7c;
    color: #372A28;
}

.switcher {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 5%;
    justify-content: center;
    width: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-switcher {
    margin: 2%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 2.5%;
    background-color: #372A28;
    color: #EDDBCC;
    border: none;
    cursor: pointer;
    /* width: 50%; */
    align-self: center;
    width: 40%;
    align-items: center; /*centra il testo dei bottoni*/
    white-space: nowrap; /* Impedisce al testo di andare a capo */
    overflow: hidden; /* Nasconde il testo che eccede */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione se il testo è troppo lungo */
}

.btn-switcher:hover {
    background-color: #8f7f7c;
    color: #372A28;
}

#remove-account {
    white-space: nowrap; /* Impedisce al testo di andare a capo */
    overflow: hidden; /* Nasconde il testo che eccede */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione se il testo è troppo lungo */
}

#separator {
    display: none;
}

/*---------------------------------------- LOGIN.HTML / SIGNUP.HTML ---------------------------------------*/

.login-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.login-subscribe p {
    font-family: 'Arbutus Slab', sans-serif;
    color: #EDDBCC;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    align-self: flex-start;
    margin-left: 15%;
}


.login-subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* centa tutto il testo, anche i bottoni */
    width: 70%;
    height: auto;
    padding: 1.8%;
    background-color: #C6A064;
    border: 2px solid black;
}

.login-subscribe-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-subscribe-form form #btn-signup {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 2%;
    background-color: #372A28;
    color: #EDDBCC;
    border: none;
    cursor: pointer;
}

.labels-login {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding: 0;
    color: #FFF4EA;
}

/*---------------------------------------- ABOUT.HTML ---------------------------------------*/

#review-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin-bottom: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#review-box p {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    align-self: flex-start;
    /* alinea a sinistra */
    padding-left: 10%;
}

#review-box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    /*aggiusta l'altezza in base al contenuto*/
    padding: 1.5%;
    background-color: #C6A064;
    border: 2px solid black;
}


#review-box-form p {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    align-self: center;
    text-align: center;
    padding-bottom: 2%;
}

#stars img {
    width: 20%;
    height: auto;
    display: block;
    padding-bottom: 2%;
    position: relative;
    left: 40%;
}

/* Styling for the review text */
#review {
    width: 70%;
    font-family: 'Arbutus Slab', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 3%;
}

#reviewer {
    width: 70%;
    font-family: 'Arbutus Slab', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
}

/*---------------------------------------- MARKETPLACE.HTML ---------------------------------------*/

#marketplace-title {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 2rem;
    padding: 0;
    text-align: center;
    margin: 1%;
}

#finder {
    width: 70%;
    padding: 0.5%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    background-color: #372A28;
    color: #EDDBCC;
    align-self: center;
    border: none;
    border-radius: 0;
}

#cardbox {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* Per consentire alle carte di andare a capo */
    align-self: center;
    justify-content: center;
    overflow-y: auto;

    background-color:#C6A064;

    padding: 2%;
}

.cards {
    width: 30%;
    margin: 1%;
    margin-bottom: 3%;
    padding: 2%;
    background-color: #EDDBCC;
    align-self: center;
}

.cards:hover {
    transform: translateZ(0.5vw) scale(1.05);
    transition: 0.2s ease-in;
    /*l'animazione diventa srempre piu veloce*/
    /*ritardo nell'animazione*/
}

#img-card-container {
    width: 100%;
    height: 50%;
    aspect-ratio: 1 / 1;
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 2%;
}

.card-description { /*si riferisce ora allo user*/
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cards .subscribe-btn {
    width: 100%;
    font-family: 'Arbutus Slab', sans-serif;
    color: #EDDBCC;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    /*aggiunge i puntini*/
    overflow: hidden;
    /*evita che il testo del bottone vada fuori*/
    background-color: #372A28;
    border: none;
    padding: 3%;
    margin: 2%;

    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: #8f7f7c;
    color: #372A28;
}

/*-------------------- READER.HTML -------------------*/

#box-reader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reader {
    background-color: #fff;
    width: 100%;
    height: auto;
    overflow-y: auto;
    padding: 2%;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
}

#course-name {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.5rem;
    padding: 0;
    text-transform: uppercase;
    padding-top: 2%;
    text-align: center;
}

#author {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.2rem;
    justify-content: center;
    gap: 5%;
}

#creator {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    padding-top: 3%;
}

#creator-bio {
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 1.2rem;
    text-align: justify;
}

#creator-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box-description {
    padding: 2%;
    width: 100%;
    height: 150%;
    overflow-y: auto;
    font-family: 'Arbutus Slab', sans-serif;
    background-color:#FFC61A;
    overflow-y: auto;
}

#box-description h1 {
    font-size: 1.5rem;
    text-align: center;
}

#description {
    text-align: justify;
    font-size: 1.2rem;
}

pre { /*tag facente parte del rendering del corso testuale*/
    text-wrap: wrap;
}

/*-------------------- RESPONSIVE CONFIGURATIONS -------------------*/

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    
    html {
        font-size: 1.2rem;
    }

    #logo {
        font-size: 3rem;
    }

    .login-subscribe p {
        font-size: 2.5rem;
    }

    #review-box p {
        font-size: 2.5rem;
    }
}
 
 @media screen and (min-width: 769px) and (max-width: 1366px) {
 
    html {
        font-size: 1.2rem;
    }
 
    #logo {
        font-size: 2.3rem;
    }

    #nav-link-mini {
        font-size: 1.2rem;
    }

    #hamburger {
        font-size: 2.5rem;
    }

    #x_button {
        font-size: 2.7rem;
    }

    .login-subscribe p {
        font-size: 2rem;
    }

    #review-box p {
        font-size: 2rem;
    }

    .cards {
        width: 30%;
    }

    .button-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    }

    .cards .subscribe-btn {
    width: 100%;
    }

    .course-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }

    .btn-switcher {
        display: flex;
        flex-direction: column;
    }

 }
 
 @media screen and (min-width: 376px) and (max-width: 768px) {
 
    html {
        font-size: 1rem;
    }

    #logo {
        font-size: 2rem;
    }

    #nav-link-mini {
        font-size: 1.2rem;
    }

    #hamburger {
        font-size: 2rem;
    }

    #x_button {
        font-size: 2rem;
    }

    #start {
        font-size: 3rem;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: 40%;
    }

    #img-container {
        width: 25%;
        height: 25%;
    }

    #separator {
        display: block;
        width: 100%;
        height: 3%;
        background-color: black;
        color: white;
        text-align: center;
        font-size: 1.2em;
        font-weight: bolder;
    }

    #username {
        font-size: 2rem;
    }

    #user h1 {
        font-size: 2rem;
    }

    section {
        width: 100%;
        height: 57%;
    }

    #upload {
        width: 100%;
        height: 100%;
    }

    .btn-upload2, #btn-signup {
        font-size: 1.2rem;
    }

    .switcher {
        flex-direction: row;
    }

    #btn-switcher {
        width: 100%;
    }

    #log-out-btn #remove-account {
        width: 100%;
    }

    .login-subscribe p {
        font-size: 1.5rem;
    }

    #review-box p {
        font-size: 1.5rem;
    }

    #review-box-form p {
        font-size: 1.2rem;
    }

    #review, #reviewer {
        font-size: 0.8rem;
    }

    .cards {
        width: 30%;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-description {
        font-size: 0.8rem;
    }

    .button-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cards .subscribe-btn {
        width: 100%;
        font-size: 1rem;
    }

    #img-popup {
        font-size: 1.2rem;
    }

    #reader, #creator, #description, #creator-bio, div{
        font-size: 1rem;
    }

 }
 
 @media screen and (max-width: 375px) {
 
    html {
        font-size: 1rem;
    }

    #nav-link-mini {
        display: relative;
    }

    .login-subscribe {
        width: 120%;
    }

    .login-subscribe p {
        font-size: 1.2rem;
    }

    #review-box {
        width: 100%;
    }

    #review-box p {
        font-size: 1.2rem;
    }

    #review, #reviewer {
        font-size: 1rem;
    }
    
    #stars {
        width: 200%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: 40%;
    }

    #separator {
        display: block;
        width: 100%;
        height: 3%;
        background-color: black;
        color: white;
        text-align: center;
        font-size: 1.2em;
        font-weight: bolder;
    }
    
    section {
        width: 100%;
        height: 57%;
    }

    .switcher {
        flex-direction: column;
    }

    #manage-account {
        flex-direction: column;
    }

    #upload {
        width: 100%;
        height: 100%;

    }

    #marketplace-title {
        font-size: 1.2rem;
        width: 100%;
        word-wrap: break-word; /* Spezza le parole lunghe */
        text-overflow: ellipsis; /* Aggiunge "..." se il testo è troppo lungo */
        white-space: normal; /* Permette al testo di andare a capo */
    }

    .cards {
        width: 45%;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-description {
        font-size: 0.8rem;
    }

    .button-container {
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }

    .cards .subscribe-btn {
        width: 100%;
        font-size: 1rem;
    }

    #reader, #creator, #description, #creator-bio, div{
        font-size: 1rem;
    }


 }
 
 @media screen and (max-width: 1081px) {
 
     header {
         flex-direction: row;
         justify-content: space-between;
     }
 
 }
 
 /*senza questo media screen l'icona hambuger non si mostrava per schermi superiori a 768px di larghezza*/
 @media screen and (max-width: 1080px) {
 
     #hamburger {
         display: block;
     }
 
 }
 
 /*senza questo media screen ad uno width di 516px la parte destradel footer non èra posizionta perfettamente a destra*/
 @media screen and (max-width: 516px) {
     #fright {
         text-align: right;
     }
 }

 @media screen and (min-width: 2000px) {
    html {
        font-size: 2em;
    }
 }

 @media  screen and (max-width: 390px) {
    .switcher {
        flex-direction: column;
    }

    .btn-switcher   {
        width: 100%;
    }

    #manage-account {
        flex-direction: column;
    }

    #remove-account, #log-out-btn {
        width: 100%;
    }
    
 }